.post-img{
    height: 404px;
    overflow: hidden;
}

.post-img img{
    width: 100%;
}

.blog-post-content{
    /* background: rebeccapurple; */
}

.blog-post-content h1{
    text-align: center;
}

.blog-post-content p{
    font-size: 16px;
}
